* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #fff;
  line-height: 1.6;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000;
}

a {
  transition: opacity 0.4s ease-out;
}

a:hover {
  text-decoration: none;
  opacity: .5;
  color: #fff;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

/* * * * * * * NAV * * * * * * */
.logo a{
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
  color: #fff;
}

.logo {
  background-image: url('./img/whiteStroke.png');
}

.navbar li a{
  color: #fff;
  text-align: right;
  font-family: 'Barlow';
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* * * * * * * -  * * * * * * */
.cardHeadline {
  color: #c1c1c1;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* * * * * * * SHOWCASE * * * * * * */

.jumbo{
  background-color: transparent;
  z-index: 1;
  background-image: url('./img/whiteStroke.png');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  margin-top: 30px;
}

.jumbotron h1 {
  font-size: 50px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  color: #000;
  margin: 30px;
}

.learnMore {
  font-size: 18px;
  text-decoration: none;
  color: #c8c8c8;
  padding: 10px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  opacity: 1;
}


.landingImg{
  background-image: url('./img/whiteStroke.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 450px;
  z-index: 0;
  opacity: .9;
}

/* * * * * * * CARDS * * * * * * */
div.card-img-overlay {
    padding: none;
}

.card {
  margin-top: 10px;
  border: none;
  transition: opacity 0.4s ease-out;
  font-family: 'Montserrat', sans-serif;
}

.card:hover {
  opacity: 0.7;
}

.card-title {
  position: absolute;
  left: 50px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 4px;
}

p.card-text {
position: absolute;
left: 50px;
bottom: 44px;
opacity: 0.9;
}

.noodleCard {
  background-size: cover;
  background-position: center;
  background-image: url('/img/noodles-card.jpg');
  height: 400px;
}

.bbqCard {
  background-size: cover;
  background-position: center;
  background-image: url('/img/bbq-card.jpg');
  height: 400px;
}

.riceCard {
  background-size: cover;
  background-position: center;
  background-image: url('/img/rice-card.jpg');
  height: 400px;
}


@media only screen and (min-width: 800px) {

  .bigScreenNav {
    margin-top: 20px;
  }

  .leftNav a,
  .rightNav a {
    color: #fff;
    padding: 10px;
    font-size: .8em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  .leftNav {
    text-align: right;
  }

  .leftNav a {
    margin-left: 20px;
  }


  .rightNav a {
    margin-right: 20px;
  }

  .logo {
    text-align: center;
    padding: 10px;
  }

}
